.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 25%;
  margin-left: 0%;
  float: left;
  margin: 30px;
  height: 500px;
  margin-top: 10px;
}
.machine_photo {
  width: 100%;
  height: 300px;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}

.confirm_btn {
  margin-right: 10px;
  width: 100px;
}

.unconfirm_btn {
  width: 100px;
}

.dashboard {
  margin-left: 300px;
  width: 1000px;
  height: 500px;
  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.card_total_booking {
  text-align: left;
  float: left;
  margin: 40px;
  font-family: "Times New Roman", Times, serif;
  width: 250px;
  height: 150px;
  background-color: rgb(0, 171, 250);
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
#booking_btn {
  transition: 0.3s;
  padding: 8px;
  width: 100%;
  text-align: center;
  color: white;
  background-color: rgb(7, 146, 211);
  border: none;
  left: 0;
  bottom: 0;
  right: 0;
  cursor: pointer;
}

#booking_btn:hover {
  background-color: rgb(2, 106, 155);
}

.card_total_account {
  text-align: left;
  float: left;
  margin: 40px;
  font-family: "Times New Roman", Times, serif;
  width: 250px;
  height: 150px;
  background-color: rgb(0, 171, 250);
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
#account_btn {
  transition: 0.3s;
  padding: 8px;
  width: 100%;
  text-align: center;
  color: white;
  background-color: rgb(7, 146, 211);
  border: none;
  left: 0;
  bottom: 0;
  right: 0;
  cursor: pointer;
}

#account_btn:hover {
  background-color: rgb(2, 106, 155);
}
.card_total_machine {
  text-align: left;
  float: left;
  margin: 40px;
  font-family: "Times New Roman", Times, serif;
  width: 250px;
  height: 150px;
  background-color: rgb(0, 171, 250);
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
#machine_btn {
  transition: 0.3s;
  padding: 8px;
  width: 100%;
  text-align: center;
  color: white;
  background-color: rgb(7, 146, 211);
  border: none;
  left: 0;
  bottom: 0;
  right: 0;
  cursor: pointer;
}

#machine_btn:hover {
  background-color: rgb(2, 106, 155);
}
